<!-- Decorative tags: http://mbenford.github.io/ngTagsInput/demos.html -->


<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Production Scripts</h3>
        You can modify the variables to your own custom values, or just use the mixins with their default values. Here's an example of using the default settings to create a two-column layout with a gap between.

    </div>
    <!--<div class="panel-body">
        <table class='rules_table' >
            <tr ng-repeat="a_rule in rules" style='width:inherit'>
                <td >
                    <tags-input class='decorate_tag' ng-model="a_rule" placeholder="Edit"></tags-input>
                </td>
                <td>
                    <button type="button" class="btn btn-default" ng-click="rules.remove($index)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>
                    </button>
                </td>
            </tr>
        </table>
        <button type="button" class="btn btn-default" >Add Rule
            <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
        </button>
    </div>-->
</div>

<style>

</style>